h1 {
    color: rgb(14, 14, 96);
    font-size: 40px;
    font-style: italic;
}

body {
    background-color: rgb(223, 202, 217);
}

h2 {
    color: rgb(15, 101, 92);
    text-shadow: 3px 3px 3px rgb(170, 200, 38);
}

/* insertion of background image
body {
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/047/573/699/small/open-blank-book-with-white-pages-photo.jpg');
} */

div {
    font-size: large;
    font-weight: 700;
}

/* id selector tag, id=head,,, use of span to select a certain word only*/
#head span{
    font-style: italic;
    font-size: 25px;
    text-shadow: 3px 3px 5px rgb(168, 41, 196);
}

p {
    font-size: 18px;
    font-weight: bolder;
}

h5 {
    font-style: italic;
    font-weight: bolder;
    font-size: 20px;
    color: rgb(15, 101, 92);
    text-shadow: 3px 3px 3px rgb(170, 200, 38)
}

/* grouping 2 tags */
ul,
ol {
    font-size: larger;
}

